.container {
    text-align: center;
    padding: 20px;
    border: 10px solid #561111;
    border-radius: 8px;
    background-color: #f8d8ae;
    width: 300px;
}

h1 {
    font-size: 36px;
    color: rgb(89, 21, 21);
}
p{
    font-size: 18px;
    font-style: bold;
    color: #561111;
    text-align: center;

}