body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    justify-content: center;
}

/* Стил за header */
header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 10px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

header nav ul li a:hover {
    text-decoration: underline;
}

/* Стилови за главните секции */
main {
    padding: 30px;
}

section {
    margin-bottom: 40px;
}

h2 {
    color: #333;
    text-align: center;
}
h1{
    color: #333;  
    
}

/* Формата за најава */
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

form label {
    display: block;
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
}

form input[type="text"],
form input[type="password"],
form input[type="date"],
form select,
form textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form input[type="submit"] {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #555;
}
#new-cars {
    text-align: center; /* Centriraj tekstot */
    padding: 20px;
    background-color: #f8f8f8; /* Pozadina na sekcija */
}

#new-cars h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

#new-cars p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#new-cars a {
    text-decoration: none;
    color: #007BFF;
    margin: 0 10px;
}

#new-cars a:hover {
    text-decoration: underline;
}

.car-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.car-item {
    width: 250px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.car-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.car-description h3 {
    font-size: 1.3em;
    margin-bottom: 5px;
}

.car-description p {
    font-size: 1em;
    margin-bottom: 10px;
}

.car-description ul {
    list-style-type: none;
    padding-left: 0;
}

.car-description ul li {
    font-size: 0.9em;
    margin: 5px 0;
}
#used-cars {
    text-align: center; /* Centriraj tekstot */
    padding: 20px;
    background-color: #f8f8f8; /* Pozadina na sekcija */
}

#used-cars h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

#used-cars p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

#used-cars a {
    text-decoration: none;
    color: #007BFF;
    margin: 0 10px;
}

#used-cars a:hover {
    text-decoration: underline;
}

.car-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.car-item {
    width: 250px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.car-item img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.car-description h3 {
    font-size: 1.3em;
    margin-bottom: 5px;
}

.car-description p {
    font-size: 1em;
    margin-bottom: 10px;
}

.car-description ul {
    list-style-type: none;
    padding-left: 0;
}

.car-description ul li {
    font-size: 0.9em;
    margin: 5px 0;
}
#reviews {
    margin: 20px;
}

.reviews-section {
    margin-bottom: 30px;
}

.reviews-section h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.car-review {
    background-color: #f8f8f8;
    padding: 15px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ddd;
}

.car-review h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.car-review p {
    font-size: 1em;
    line-height: 1.5;
    color: #555;
}

/* Стилови за Instagram галеријата */
.instagram-gallery {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    text-align: center;
}

.instagram-post {
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.instagram-post img {
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
}

button.like-btn, button.comment-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    border: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    display: flex;
}

button.like-btn:hover, button.comment-btn:hover {
    background-color: #555;
}

/* Стилови за анкета */
textarea {
    width: 100px;            
    height: 100px;           
    text-align: center;      
    display: flex;
    justify-content: center; 
    align-items: center;     
    padding: 10px;
    box-sizing: border-box;  
  }
.survey-form input[type="radio"] {
    margin-right: 10px;
}
/* Стил за поп-ап */
.popup {
    display: none; /* Скриј го поп-ап прозорецот */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

button {
    padding: 10px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Footer стилови */
footer {
    background-color: #333333;
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 30px;
}